
.items-card {
    display: flex;
    row-gap: 25px;
    column-gap: 15px;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid var(--clr-dark-300);
}

.items-card__imgcontainer {
    width: 15rem;
}
.items-card__imgcontainer img {
    object-fit: cover;
    border-radius: 15px;
}

.items-card__content-upperdiv {
    border-bottom:1px solid gray ; 
}
.items-card__content-lowerdiv button {
    margin-top: 1rem;
    background-color: transparent;
    color: var(--clr-primary-500);
    padding: 0;
}
.items-card__content img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}