
.items-btncontainer {
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;
    justify-content: center;
    align-content: flex-start;
}

.items-btncontainer button {
    background-color: transparent;
}
.items-btncontainer button:first-child {
    background-color: var(--clr-primary-500);
}

.items-btncontainer button:hover {
    background-color: var(--clr-primary-500);
}
.itemscard-container {
    display: grid;
    grid-template-columns: 1fr;
}


/* 62em = 992px */
@media(min-width:62em) {
.itemscard-container {
    grid-template-columns: repeat(2,1fr);
  row-gap: 1.5rem;
  column-gap: 2rem;
}    
}

